<footer class="footer">
    <div class="container">
        <p class="subscribe-soclink">
            <a class="icon-gvizdyk icon-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS" target="_blank">a</a>
            <a class="icon-gvizdyk icon-facebook" href="http://facebook.com/gvizdyk/" title="Facebook" target="_blank">c</a>
            <a class="icon-gvizdyk icon-twitter" href="http://twitter.com/gvizdyk" title="Twitter" target="_blank">b</a>
        </p>
        <div class="subsribe-email">
            <form action="http://gvizdyk.us2.list-manage.com/subscribe/post?u=1db46338b72406c1151ec4353&amp;id=62266b017f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                <label for="mce-EMAIL">Стежте за оновленями на сайті за допомогою<br /> електронної сериньки:</label>
                <input type="email" value="" placeholder="Введіть Ваш email" name="EMAIL" class="required email" id="mce-EMAIL" />
                <input style="display:none;" type="text" name="b_1db46338b72406c1151ec4353_62266b017f" tabindex="-1" value="" />
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button" />
            </form>
        </div>
        <p>&#169; Yuriy & Yulia Hvozdovych 2011 - 2016</p>
    </div>
</footer>
